<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
</head>
<body style="background: #000; color: white;">
    <h1>Thi is the logging page</h1>
</body>
</html>