<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SFNASSI SHOP</title>

    <!-- Bootstrap core CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap&amp;_cacheOverride=1689776815611"
        rel="stylesheet" />
    <link href="./vendor/bootstrap/css/bootstrap.min.css?_cacheOverride=1689776815612" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/fontawesome.css?_cacheOverride=1689776815626" />
    <link rel="stylesheet" href="./assets/css/templatemo-cyborg-gaming.css?_cacheOverride=1689776815626" />
    <link rel="stylesheet" href="./assets/css/owl.css?_cacheOverride=1689776815627" />
    <link rel="stylesheet" href="./assets/css/animate.css?_cacheOverride=1689776815627" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css?_cacheOverride=1689776815628" />
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader loaded">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="container">
        <div class="container" style="padding-top: 5%;">


            <form class="" action="" method="post">
                <div class="engine ">
                    <div class="adder">
                        <h2 style="margin-bottom: 10px;">Add new product :</h2>
                        <span style="padding: 15px 0;"></span>
                        <label for="uname"><b>Product title</b></label>
                        <input type="text" placeholder="Title here" name="uname" required="">
                        <span style="padding: 5px 0;"></span>

                        <label for="uname"><b>Product image</b></label>
                        <input type="text" placeholder="Link to the image" name="uname" required="">
                        <span style="padding: 5px 0;"></span>

                        <div class="" style="display: flex;">
                            <div class="" style="padding-right: 5px;">
                                <label for="uname"><b>New price</b></label>
                            <input type="text" placeholder="Current price" name="uname" required>
                            <span style="padding: 5px 0;"></span>
                            </div>
                            <div class="" style="padding-left: 5px;">
                                <label for="uname"><b>Old price</b></label>
                            <input type="text" placeholder="previous price" name="uname" required>
                            <span style="padding: 5px 0;"></span>
                            </div>

                        </div>
                        <label style="padding-bottom: 15px;" class="control">
                            <button style="border: 0.5px #f83434 solid; width: 45%;" class="loginButton" type="submit">Cancel</button>
                            <button style="border: 0.5px #59ff00 solid; width: 45%;" class="loginButton" type="submit">Preview</button>
                        </label>

                        <label for="uname"><b>Add this Product to :</b></label>
                        <label class="control">
                            <button style="height: 50px; border: 1px #00d0ff solid; width: 45%;" class="loginButton" type="submit">Gift cards</button>
                            <button style="height: 50px; border: 1px #ff00b7 solid; width: 45%;" class="loginButton" type="submit">Valorant Acc</button>
                        </label>


                    </div>
                    <div class="adder col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="discount">
                                -50%
                            </div>
                            <div class="newPrice">
                                $14.99
                            </div>
                            <div class="oldPrice" style="text-decoration: line-through">
                                $29.99
                            </div>
                            <img src="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait Store Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?h=480&amp;quality=medium&amp;resize=1&amp;w=360"
                                alt="" style="width: 100%;">
                            <div class="details">
                                <p style="width: 60%;color: white;">
                                    Grand Theft Auto V: Premium Edition
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2036 by <a href="https://discord.gg/CFWnYcmZFK">Colda Studio</a> Agency. All
                            rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <!-- Bootstrap core JavaScript -->
        <script src="./vendor/jquery/jquery.min.js"></script>
        <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="./assets/js/isotope.min.js"></script>
        <script src="./assets/js/owl-carousel.js"></script>
        <script src="./assets/js/tabs.js"></script>
        <script src="./assets/js/popup.js"></script>
        <script src="./assets/js/custom.js"></script>
</body>

</html>