<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>SFNASSI SHOP</title>

    <!-- Bootstrap core CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap&amp;_cacheOverride=1689776815611"
        rel="stylesheet" />
    <link href="./vendor/bootstrap/css/bootstrap.min.css?_cacheOverride=1689776815612" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/fontawesome.css?_cacheOverride=1689776815626" />
    <link rel="stylesheet" href="./assets/css/templatemo-cyborg-gaming.css?_cacheOverride=1689776815626" />
    <link rel="stylesheet" href="./assets/css/owl.css?_cacheOverride=1689776815627" />
    <link rel="stylesheet" href="./assets/css/animate.css?_cacheOverride=1689776815627" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css?_cacheOverride=1689776815628" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader loaded">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="container">
        <div class="container" style="padding-top: 5%;">


            <form class="" action="" method="post">
                <div class="engine ">
                    <div class="adder">
                        <h2 style="margin-bottom: 10px;">Add new product :</h2>
                        <span style="padding: 15px 0;"></span>
                        <label for="uname"><b>Product title</b></label>
                        <input id="title" type="text" placeholder="Title here" name="uname" required>
                        <span style="padding: 5px 0;"></span>

                        <label for="uname"><b>Product image</b></label>
                        <input id="imglink" type="text" placeholder="Link to the image" name="uname" required>
                        <span style="padding: 5px 0;"></span>

                        <div class="" style="display: flex;">
                            <div class="" style="padding-right: 5px;">
                                <label for="uname"><b>New price</b></label>
                                <input id="newprice" type="text" placeholder="Current price" name="uname" required>
                                <span style="padding: 5px 0;"></span>
                            </div>
                            <div class="" style="padding-left: 5px;">
                                <label for="uname"><b>Old price</b></label>
                                <input id="oldprice" type="text" placeholder="previous price" name="uname" required>
                                <span style="padding: 5px 0;"></span>
                            </div>

                        </div>
                        <label style="padding-bottom: 15px;" class="control">
                            <button id="btnreset" style="border: 0.5px #f83434 solid; width: 45%;" class="loginButton"
                                type="button">Cancel</button>
                            <button id="preview" style="border: 0.5px #59ff00 solid; width: 45%;" class="loginButton"
                                type="button">Preview</button>
                        </label>

                        <label for="uname"><b>Add this Product to :</b></label>
                        <label class="control">
                            <button id="sgift" style="height: 50px; border: 1px #00d0ff solid; width: 45%;" class="loginButton"
                                type="button">Gift cards</button>
                            <button id="saccount" style="height: 50px; border: 1px #ff00b7 solid; width: 45%;" class="loginButton"
                                type="button">Valorant Acc</button>
                        </label>


                    </div>
                    <div class="adder col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="item">
                            <div id="ddis" class="discount">
                                -50%
                            </div>
                            <div id="dnewp" class="newPrice">
                                $14.99
                            </div>
                            <div id="doldp" class="oldPrice" style="text-decoration: line-through">
                                $29.99
                            </div>
                            <img id="dimg"
                                src="https://cdn1.epicgames.com/0584d2013f0149a791e7b9bad0eec102/offer/GTAV_EGS_Artwork_1200x1600_Portrait Store Banner-1200x1600-382243057711adf80322ed2aeea42191.jpg?h=480&amp;quality=medium&amp;resize=1&amp;w=360"
                                alt="" style="width: 100%;">
                            <div class="details">
                                <p id="dtitle" style="width: 60%;color: white;">
                                    Grand Theft Auto V: Premium Edition
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2036 by <a href="https://discord.gg/CFWnYcmZFK">Colda Studio</a> Agency. All
                            rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>



        <!-- Bootstrap core JavaScript -->
        <script src="./vendor/jquery/jquery.min.js"></script>
        <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="./assets/js/isotope.min.js"></script>
        <script src="./assets/js/owl-carousel.js"></script>
        <script src="./assets/js/tabs.js"></script>
        <script src="./assets/js/popup.js"></script>
        <script src="./assets/js/custom.js"></script>
        <!-- Scripts -->
        <script>
            $("#sgift").on("click", function () {
                let title = $("#title").val();
                let imgLink = $("#imglink").val();
                let newPrice = $("#newprice").val();
                let oldPrice = $("#oldprice").val();
                let discount = "";
                newPrice = Number(newPrice);
                oldPrice = Number(oldPrice);
                if (oldPrice > newPrice) {
                    discount = ""+Math.floor(((newPrice - oldPrice) / oldPrice) * 100) +"%";
                }
                $.ajax({
                    url: '/gift',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({title,image:imgLink,newPrice,oldPrice,discount}),
                    success: function (info) {
                        if(info.OK){
                            window.location.reload();
                        }
                    }
                });
            });
            $("#saccount").on("click", function () {
                let title = $("#title").val();
                let imgLink = $("#imglink").val();
                let newPrice = $("#newprice").val();
                let oldPrice = $("#oldprice").val();
                let discount = "";
                newPrice = Number(newPrice);
                oldPrice = Number(oldPrice);
                if (oldPrice > newPrice) {
                    discount = ""+Math.floor(((newPrice - oldPrice) / oldPrice) * 100) +"%";
                }
                $.ajax({
                    url: '/account',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({title,image:imgLink,newPrice,oldPrice,discount}),
                    success: function (info) {
                        if(info.OK){
                            window.location.reload();
                        }
                    }
                });
            });
            $("#btnreset").on("click", function () {
                window.open("/panel", "_self");
            });
            $("#preview").on("click", function (event) {
                // event.preventDefault();
                let title = $("#title").val();
                let imgLink = $("#imglink").val();
                let newPrice = $("#newprice").val();
                let oldPrice = $("#oldprice").val();

                $("#dtitle").text(title);
                $("#dnewp").text(newPrice);
                $("#doldp").text(oldPrice);

                $("#dimg").attr("src", imgLink);

                if (Number(oldPrice) > Number(newPrice)) {
                    let clac_dis = Math.floor(((newPrice - oldPrice) / oldPrice) * 100);
                    $("#ddis").text(`${clac_dis}%`);
                }
                else {
                    $("#ddis").text("");
                }
            });
        </script>
</body>

</html>